.main {
  display: grid;
  .innerWrapper {
    margin: auto;
    padding: 6rem 2rem;
    width: 100%;
    max-width: 28rem;
    form {
      display: grid;
      grid-gap: 1.5rem;
      .head {
        p {
          color: rgb(var(--primary-color-rgb));
          font-weight: 500;
          margin-bottom: 0.3rem;
        }
        h1 {
          color: var(--text-color-1);
        }
        text-align: center;
        margin-bottom: 1rem;
      }
      .errMsg {
        color: white;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background: rgb(var(--red-color-rgb));
      }
      .forgotPassword {
        display: grid;
        justify-content: flex-end;
        a {
          font-size: 0.9rem;
          font-weight: 500;
          color: rgb(var(--primary-color-rgb));
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .eye {
        display: grid;
        font-size: 1.1rem;
        background: none;
        border: none;
        color: var(--text-color-2);
        cursor: pointer;
        padding: 0.7rem;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 0.6;
        }
      }
      .signupLink {
        color: var(--text-color-2);
        text-align: center;
        font-size: 0.9rem;
        a {
          color: rgb(var(--primary-color-rgb));
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
