.main {
  display: grid;
  grid-gap: 3rem;
  grid-auto-rows: max-content;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color-1);
  }
  header {
    h1 {
      margin-bottom: 0.5rem;
    }
    .description {
      font-size: 0.9rem;
      line-height: 1.6em;
      color: var(--text-color-2);
    }
  }
  .dateFilter {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    // grid-template-columns: 1fr max-content max-content;
    grid-gap: 0.75rem;
    align-items: center;
    .btn {
      padding: 0.75rem;
    }
  }
  .graphSection {
    .head {
      margin-bottom: 0.5rem;
      p {
        font-size: 0.9rem;
        line-height: 1.6em;
        color: var(--text-color-2);
      }
    }
    .chart {
      .placeholder {
        text-align: center;
        padding: 5rem;
        border: 1px solid rgb(233 233 233);
        border-radius: 0.5rem;
        color: #858585;
        background: #fbfbfb;
        font-style: italic;
      }
    }
  }
  .topics {
    thead,
    tbody {
      min-width: 30rem;
      tr {
        grid-template-columns: 1fr 8rem 6rem 6rem 3.5rem;
      }
    }
  }
}

@media (max-width: 720px) {
  .main {
    // .searchForm {
    //   grid-template-columns: 1fr;
    // }
  }
}

@media (max-width: 480px) {
  .main {
    .dateFilter {
      display: grid;
      justify-content: unset;
    }
    .graphSection {
      .chart {
        .placeholder {
          padding: 4rem;
        }
      }
    }
  }
}
