.input {
  display: grid;
  position: relative;
  label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    color: var(--text-color-1);
  }
  .wrapper {
    position: relative;
    .field {
      position: relative;
      border: 1px solid #d1d1d1;
      border-radius: 0.5rem;
      background: white;
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      overflow: hidden;
      align-items: center;
      // .startAdornment {
      //   margin-left: 0.5rem;
      //   margin-right: 0.5rem;
      // }
      // .endAdornment {
      //   margin-right: 0.5rem;
      //   margin-left: 0.5rem;
      // }
      & > span {
        display: block;
      }
      &:focus-within {
        border-color: rgb(var(--primary-color-rgb));
      }
      &:has(input:read-only),
      &:has(textarea:read-only) {
        background: #f5f4f4;
      }
    }
    .hint {
      font-size: 0.8rem;
      color: #929292;
      display: block;
      margin-top: 0.5rem;
    }
    &:has(input[type="color"]) {
      .field {
        margin-top: 0.3rem;
        width: 5rem;
        cursor: pointer;
        outline: 4px solid white;
        outline-offset: -6px;
        input {
          cursor: pointer;
          opacity: 0;
          padding: 0;
        }
      }
    }
  }
  input,
  textarea {
    min-height: 30px;
    line-height: normal !important;
    width: 100%;
    padding: 0.75rem;
    outline: none;
    border: none;
    min-width: 4rem;
    font-size: 0.88em;
    background: none;
    &[type="datetime-local"],
    &[type="date"] {
      padding: 4px 6px;
    }
    // padding-right: 1.5rem;
    &:not(.ticker) {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
    &::placeholder {
      color: var(--text-color-2);
      opacity: 0.75;
    }
  }
  input[type="password"] {
    font-size: 1.3rem;
    max-height: 40px;
    &::placeholder {
      font-size: 0.88rem;
      line-height: 0;
    }
  }

  textarea {
    resize: vertical;
    min-height: 5rem;
    font-size: 1em;
    font-family: inherit;
  }
  &.err {
    .field {
      border-color: red;
    }
  }
  .errMsg {
    margin-top: 4px;
    font-size: 10pt;
    color: red;
    text-align: left;
    display: block;
  }
  .calenderIcon {
    font-size: 15pt;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    color: rgb(39, 47, 77);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 2rem;
    position: absolute;
    right: 2px;
    border-radius: 4px;
    height: 90%;
    display: grid;
    place-items: center;
  }
  &.textarea {
    .wrapper {
      .field {
        position: relative;
        height: min-content;
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
  .eye {
    display: grid;
    font-size: 1.1rem;
    background: none;
    border: none;
    color: var(--text-color-2);
    cursor: pointer;
    padding: 0.7rem;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}

.fileInput {
  .label {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    color: var(--text-color-1);
  }
  .inputField {
    border-radius: 0.5rem;
    border: 2px dashed #d1d1d1;
    overflow: hidden;
    label {
      cursor: pointer;
      display: grid;
      aspect-ratio: 3.5;
      font-size: 13.5px;
      background: rgb(250, 251, 252);
      color: rgb(180, 180, 180);
      place-items: center;
      &:hover {
        background: rgb(245, 246, 248);
      }
      .wrapper {
        place-items: center;
        display: grid;
      }
      .icon {
        margin: auto;
        font-size: 2rem;
        border-radius: 0 0.5rem 0.5rem 0;
        padding: 0.7rem 1rem;
      }
      .hint {
        margin: auto;
      }
    }
  }
  .files {
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    li {
      overflow: hidden;
      border: 1px solid #d1d1d1;
      border-radius: 0.5rem;
      background: white;
      height: 120px;
      width: 120px;
      overflow: hidden;
      display: grid;
      place-items: center;
      position: relative;
      .clear {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0.5rem;
        font-size: 2rem;
        top: 0rem;
        right: 0rem;
        position: absolute;
      }
      &.file {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &.fileInputUploadBtn {
        label {
          display: grid;
          font-size: 1.6rem;
          width: 100%;
          height: 100%;
          cursor: pointer;
          background: rgb(250, 251, 252);
          color: rgb(155, 155, 155);
          &:hover {
            background: rgb(245, 246, 248);
          }
          svg {
            display: block;
            margin: auto;
            &.spinner {
              font-size: 2rem;
              animation: spin 1.5s linear infinite;
            }
          }
        }
      }
    }
    &.avatar {
      padding: 0;
      border: none;
      li {
        height: 150px;
        width: 150px;
        margin: auto;
        border-radius: 50%;
        button {
          top: unset;
          bottom: 0;
          right: unset;
          width: 100%;
          justify-content: center;
          background: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
  .fileTable {
    table {
      width: 100%;
      border-color: #d1d1d1;
      &:not(.showInput) {
        margin-top: 1rem;
        border-top: none;
        border-radius: 0 0 0.5rem 0.5rem;
      }
      tr {
        td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .tableActions {
          margin: auto;
          margin-right: 0;
          button {
            color: gray;
            font-size: 1.25rem;
          }
        }
        grid-template-columns: 1fr 3.5rem;
      }
    }
  }
  &.error {
    .inputField {
      border-color: red;
    }
    .files {
      border-color: red;
    }
    .errMsg {
      font-size: 10pt;
      color: red;
      text-align: left;
      display: block;
    }
  }
}

.combobox {
  cursor: pointer;
  & > label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    color: var(--text-color-1);
  }
  &.open {
    .field {
      & > input {
        border-radius: 4px 4px 0 0;
      }
      .btn {
        .arrow {
          transform: rotate(180deg) translateY(-11px);
        }
      }
    }
  }
  .field {
    position: relative;
    display: grid;
    & > * {
      grid-column: 1/-1;
      grid-row: 1/-1;
    }
    .displayValue {
      z-index: 10;
      background-color: white;
      text-align: left;
      white-space: nowrap;
      width: 100%;
      border: 1px solid #d1d1d1;
      padding: 0.75rem;
      padding-right: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      font-size: 0.88em;
      line-height: 1.137em;
      color: black;
      &.placeholder {
        color: var(--text-color-2);
        opacity: 0.75;
      }
    }
    & > input {
      width: 100%;
      height: 0;
      border: none;
      padding: 6.5px;
      padding-right: 1.6rem;
      border-radius: 0.5rem;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn {
      z-index: 12;
      position: absolute;
      display: grid;
      place-items: center;
      font-size: 1.5em;
      background: white;
      color: var(--text-color-2);
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      .arrow {
        top: 12px;
        margin-top: -10px;
        margin-right: 2px;
      }
    }
  }
  &.noOptions {
    cursor: default;
    .field {
      .displayValue {
        background: rgb(235, 235, 235);
      }
      .btn {
        background: rgb(235, 235, 235);
      }
    }
  }
  &:focus-within {
    .field {
      p {
        border-color: rgb(var(--primary-color-rgb));
      }
    }
  }
  &.err {
    .field {
      .displayValue {
        border-color: red;
      }
    }
  }
  .errMsg {
    color: red !important;
    font-size: 10pt;
    text-align: left;
    display: block;
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.75;
  }
}
.searchFieldModal,
.comboboxModal {
  box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.3);
  height: min-content !important;
  border-radius: 0.5rem;
  .options {
    cursor: pointer;
    z-index: 9999999999999;
    background: white;
    width: 100%;
    li {
      font-size: 14px;
      position: relative;
      input {
        cursor: pointer;
        flex-shrink: 0;
        margin-right: 6px;
      }
      display: flex;
      align-items: center;
      padding: 1rem;
      &:not(:last-child) {
        &::after {
          content: "";
          display: block;
          position: absolute;
          background: #e8e8e8;
          height: 1px;
          width: 90%;
          bottom: 0;
        }
      }
      &.selected {
        background: rgba(var(--primary-color-rgb), 0.15);
      }
      &.hover {
        background: rgba(var(--primary-color-rgb), 0.1) !important;
      }
      &.disabled {
        font-style: italic;
        color: #bbbbbb;
        cursor: not-allowed;
      }
    }
    overflow-x: hidden;
    margin: 0 !important;
  }
}
.searchFieldModalBackdrop,
.comboboxBackdrop {
  background: rgba(0, 0, 0, 0) !important;
}

.calendarInput {
  display: grid;
  min-width: 280px;
  label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    white-space: nowrap;
  }
  position: relative;
  .field {
    border: 1px solid #d1d1d1;
    padding: 0.75rem;
    font-size: 0.88em;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .calendarWrapper {
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #b7b7b7;
    .selected {
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 6px;
        transform: translate(-50%, -50%);
        height: 2.85em;
        width: 3.5em;
        margin: auto;
        background: rgba(var(--primary-color-rgb), 0.3);
        z-index: -1;
      }
    }
    .actions {
      padding: 8px;
      padding-top: 0;
      display: flex;
      grid-gap: 12px;
    }
  }
  &.err {
    .field {
      border-color: red;
    }
  }
  .errMsg {
    margin-top: 4px;
    font-size: 10pt;
    color: red;
    text-align: left;
    display: block;
  }
  &:focus-within {
    .calendarWrapper {
      border-color: rgba(var(--primary-color-rgb), 1);
    }
  }
}

.select {
  display: grid;
  height: min-content;
  label {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    color: var(--text-color-1);
  }
  .field {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    // flex-wrap: wrap;
    // grid-gap: 6px;
    .startAdronment {
      & > * {
        margin-left: 6px;
      }
    }
    .chip {
      height: 30px;
    }
    &:focus-within {
      border-color: rgb(var(--primary-color-rgb));
    }
    &.err {
      border-color: red;
    }
    &.reactSelect--is-disabled {
      background: rgb(235, 235, 235);
    }
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
  }
  .customValue {
    width: max-content;
  }
  .errMsg {
    font-size: 10pt;
    color: red;
    text-align: left;
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
