.header {
  display: flex;
  background: rgb(var(--primary-color-rgb));
  color: white;
  position: sticky;
  top: 0;
  z-index: 200;
  .innerWrapper {
    align-items: center;
    padding: 0.75rem 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 110rem;
    .logo {
      display: grid;
      grid-template-columns: 2.25rem 1fr;
      align-items: center;
      grid-gap: 0.5rem;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.3;
      }
      font-size: 1.1rem;
      color: white;
    }
    .left,
    .right {
      display: flex;
      grid-gap: 0.5rem;
    }
    .right {
      .menuBtn {
        display: none;
      }
      .nav {
        display: flex;
        grid-gap: 0.5rem;
      }
    }
    .avatar {
      font-size: 2rem;
      grid-template-columns: max-content max-content;
      grid-gap: 0.3rem;
      span {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .backdrop {
      display: none;
    }
  }
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 2rem;
    width: 4rem;
    background: rgb(var(--primary-color-rgb));
    background: red;
    background: transparent;
    top: 100%;
    pointer-events: none;
  }
  &::before {
    border-radius: 2rem 0 0 0;
    box-shadow: -2rem 0 0 rgb(var(--primary-color-rgb));
  }
  &::after {
    right: 0;
    border-radius: 0 2rem 0 0;
    box-shadow: 2rem 0 0 rgb(var(--primary-color-rgb));
  }
}

.main {
  .hero {
    background: var(--bg-2);
    color: var(--text-color-1);
    // padding: 2rem;
    margin: auto;
    display: flex;
    .innerWrapper {
      align-items: center;
      grid-gap: 2rem;
      display: flex;
      margin: auto;
      width: 100%;
      justify-content: space-between;
      padding-top: 5rem;
      padding-bottom: 10rem;
      .content {
        flex-basis: 45%;
        display: grid;
        grid-gap: 1.5rem;
        h1 {
          font-size: 3.5rem;
          line-height: 1.1em;
        }
        p {
          color: var(--text-color-2);
        }
        .cla {
          width: max-content;
          margin-top: 1rem;
        }
      }
      .bennerWrapper {
        flex-basis: 45%;
        aspect-ratio: 1.15;
        position: relative;
        .chatUi {
          border-radius: 0.5rem;
          height: 100%;
          position: absolute;
          right: 0;
          box-shadow: 0 0 4rem rgba(var(--primary-color-rgb), 0.4);
        }
        .avatarFull {
          position: absolute;
          height: 100%;
          right: 42.5%;
          // right: 15rem;
        }
        .box1,
        .box2 {
          display: block;
          border-radius: 0.5rem;
          position: absolute;
          background: linear-gradient(
            0deg,
            rgba(var(--primary-color-rgb), 0.2) 0%,
            rgba(var(--primary-color-rgb), 0.05) 100%
          );
        }
        .box1 {
          height: 93%;
          width: 65%;
          right: 1.25rem;
          bottom: 3.5rem;
        }
        .box2 {
          height: 90%;
          width: 70%;
          right: 1rem;
          bottom: 2rem;
        }
      }
    }
  }

  h2 {
    font-size: 3rem;
    line-height: 1.1em;
  }
  p {
    line-height: 1.6em;
  }

  .hero,
  .intro,
  .key_features,
  .core_features,
  .testimonials,
  .platform_section {
    .innerWrapper {
      max-width: 90rem;
      padding: 8rem 2rem;
    }
  }
  .blog_section {
    .innerWrapper {
      padding: 8rem 0;
    }
  }

  .intro {
    .innerWrapper {
      align-items: center;
      grid-gap: 2rem;
      display: flex;
      margin: auto;
      width: 100%;
      color: var(--text-color-1);
      .content {
        flex-basis: 45%;
        display: grid;
        grid-gap: 1.5rem;
        p {
          color: var(--text-color-2);
          line-height: 1.6em;
        }
        ul {
          display: grid;
          grid-gap: 0.75rem;
        }
        .cla {
          width: max-content;
          margin-top: 1rem;
        }
      }
      .bennerWrapper {
        flex-basis: 45%;
        position: relative;
        display: grid;
        aspect-ratio: 1.15;
        .uiEmpty {
          position: absolute;
          height: 100%;
          right: 0;
          box-shadow: 0 0 4rem rgba(var(--primary-color-rgb), 0.4);
          border-radius: 0.5rem;
        }
        .uiMessages {
          position: absolute;
          bottom: 18%;
          max-width: 80%;
        }
      }
    }
  }

  .key_features {
    background: var(--bg-2);
    display: flex;
    .innerWrapper {
      display: grid;
      grid-gap: 2rem;
      margin: auto;
      color: var(--text-color-1);
      h2 {
        text-align: center;
      }
      .dscr {
        margin: auto;
        text-align: center;
        max-width: 50rem;
      }
      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        .card {
          background: white;
          padding: 1.5rem;
          display: grid;
          grid-gap: 1.5rem;
          border-radius: 1rem;
          grid-template-rows: 45px 1rem max-content;
          img {
            height: 100%;
            filter: invert(30%) sepia(82%) saturate(2625%) hue-rotate(12deg)
              brightness(93%) contrast(102%);
            // filter: invert(19%) sepia(100%) saturate(2736%) hue-rotate(238deg)
            //   brightness(95%) contrast(97%);
          }
          h3 {
            font-size: 1.5rem;
            line-height: 0.7em;
          }
          p {
            color: var(--text-color-2);
          }
        }
      }
    }
  }

  .core_features {
    display: flex;
    .innerWrapper {
      display: grid;
      grid-gap: 2rem;
      margin: auto;
      width: 100%;
      color: var(--text-color-1);
      h2 {
        text-align: center;
      }
      .dscr {
        margin: auto;
        text-align: center;
        max-width: 50rem;
      }
      .content {
        display: grid;
        grid-template-columns: 0.25fr 0.75fr 21rem;
        align-items: center;
        .cards {
          display: grid;
          grid-gap: 1rem;
          padding: 0.5rem;
          .card {
            cursor: pointer;
            background: white;
            padding: 2rem;
            display: grid;
            grid-gap: 1rem;
            border-radius: 0.7rem;
            border: 1px solid rgba(#497696, 0.2);
            transition: box-shadow 0.2s linear;
            position: relative;
            overflow: hidden;
            &::before {
              content: "";
              display: block;
              position: absolute;
              height: 100%;
              width: 0;
              background: rgb(var(--comp-color-rgb));
              transition: width 0.2s linear;
            }
            &.active {
              border: none;
              box-shadow: 0 0 1rem rgba(#497696, 0.2);
              &::before {
                width: 0.4rem;
              }
            }
            h4 {
              font-size: 1rem;
              line-height: 1.5em;
            }
            p {
              color: var(--text-color-2);
            }
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }

  .testimonials {
    display: flex;
    background: var(--bg-2);
    .innerWrapper {
      display: grid;
      grid-gap: 2rem;
      margin: auto;
      width: 100%;
      max-width: 100%;
      padding: 8rem 0;
      color: var(--text-color-1);
      h2 {
        text-align: center;
      }
      .dscr {
        margin: auto;
        text-align: center;
        max-width: 50rem;
      }
      .cards {
        display: flex;
        overflow: auto;
        grid-gap: 2rem;
        padding: 0 2rem;
        padding-bottom: 1rem;
        flex-wrap: nowrap;
        .card {
          min-width: 25rem;
          border-radius: 0.5rem;
          background: linear-gradient(
            180deg,
            #e3f3ff 0%,
            rgba(246, 246, 246, 0) 100%
          );
          border-bottom: 1px solid rgb(218, 231, 241);
          grid-template-rows: 1fr min-content;
          padding: 2rem;
          display: grid;
          grid-gap: 1rem;
          .profile {
            display: grid;
            align-items: center;
            grid-gap: 0.5rem;
            grid-template-columns: 50px 1fr;
            .detail {
              .role {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }

  .blog_section,
  .platform_section {
    display: flex;
    .innerWrapper {
      display: grid;
      grid-gap: 2rem;
      margin: auto;
      width: 100%;
      color: var(--text-color-1);
      h2 {
        text-align: center;
      }
      .dscr {
        margin: auto;
        text-align: center;
        max-width: 50rem;
      }
      display: grid;
      align-items: center;
      .cards {
        display: flex;
        grid-gap: 2rem;
        padding: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        .card {
          display: grid;
          grid-gap: 1rem;
          img {
            width: 100%;
            aspect-ratio: 1.64;
            object-fit: cover;
            border-radius: 0.75rem;
          }
          .metadata {
            font-size: 0.9rem;
            color: var(--text-color-2);
          }
          h3 {
            font-size: 1.5rem;
          }
        }
        &.platfomrs {
          justify-content: space-around;
          margin-top: 2rem;
          .card {
            width: 12rem;
            text-align: center;
            a {
              text-decoration: none !important;
            }
            img {
              margin-bottom: 1rem;
            }
            p {
              font-size: 0.8em;
              color: var(--text-color-2);
            }
          }
        }
        &.blogs {
          overflow: scroll;
          .cardsWrapper {
            padding: 1rem;
            display: flex;
            grid-gap: 2rem;
            width: max-content;
            .card {
              width: 420px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 1120px) {
  .main {
    .core_features {
      .innerWrapper {
        .content {
          grid-template-columns: 0.3fr 0.7fr;
          .cards {
            grid-column: 1 / -1;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .header {
    .innerWrapper {
      .right {
        .menuBtn {
          display: grid;
          padding: 0.2rem;
          font-size: 1.2rem;
          color: white;
          z-index: 5;
        }
        .nav {
          position: fixed;
          background: white;
          height: calc((var(--vh) * 100));
          right: 0;
          top: 0;
          display: grid;
          grid-auto-rows: min-content;
          // padding: 1.5rem;
          z-index: 10;
          overflow: hidden;
          width: 0;
          // display: none;
          grid-gap: 0;
          padding-top: 1rem;
          transition: width 0.3s cubic-bezier(0.03, 0.49, 0.58, 1);
          & > a,
          & > button {
            width: 18rem;
          }
          a {
            &:hover {
              background: rgb(var(--hover-light-bg-color-rgb));
            }
          }
          button {
            color: var(--text-color-1);
            padding: 1rem 1.5rem;
            box-shadow: none;
            background: none;
            opacity: 1;
          }
        }
        &.open {
          .nav {
            // display: grid;
            width: 18rem;
          }
        }
      }
      .backdrop {
        position: fixed;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 5;
        top: 0;
        left: 0;
        display: block;
      }
    }
  }
  .main {
    .hero,
    .intro,
    .key_features,
    .core_features {
      .innerWrapper {
        max-width: 720px;
        padding: 6rem 2rem;
      }
    }
    .testimonials {
      .innerWrapper {
        & > h2,
        & > p {
          padding: 0 1.5rem;
        }
      }
    }
    h2 {
      font-size: 2.5rem;
      line-height: 1.1em;
    }
    .hero {
      .innerWrapper {
        display: grid;
        grid-template-rows: 50vw max-content;
        .content {
          h1 {
            font-size: 3rem;
          }
        }
        .bennerWrapper {
          height: 100%;
          width: 75%;
          margin: auto;
          grid-row: 1 / 2;
        }
      }
    }
    .intro {
      .innerWrapper {
        display: grid;
      }
    }
    .key_features {
      .innerWrapper {
        .cards {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
    .platform_section {
      .innerWrapper {
        .cards {
          flex-wrap: wrap;
          .card {
            min-width: 25%;
          }
        }
      }
    }
    .blog_section {
      .innerWrapper {
        .blogs.cards {
          .cardsWrapper {
            .card {
              width: 260px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .main {
    .hero,
    .intro,
    .key_features,
    .core_features {
      .innerWrapper {
        padding: 5rem 1.5rem;
      }
    }
    .blog_section {
      .innerWrapper {
        padding: 5rem 0;
      }
    }
    .testimonials {
      .innerWrapper {
        padding: 5rem 0;
      }
    }
    h2 {
      font-size: 2rem;
      line-height: 1.1em;
    }
    .hero {
      .innerWrapper {
        display: grid;
        padding-top: 4rem;
        .content {
          h1 {
            font-size: 2.5rem;
          }
        }
        .bennerWrapper {
          height: 100%;
          width: 75%;
          margin: auto;
          grid-row: 1 / 2;
        }
      }
    }
    .intro {
      .innerWrapper {
        display: grid;
      }
    }
    .key_features {
      .innerWrapper {
        .cards {
          grid-template-columns: 1fr;
        }
      }
    }
    .platform_section {
      .innerWrapper {
        .cards.platfomrs {
          margin-top: 0;
          .card {
            img {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .blog_section {
      .innerWrapper {
        .cards {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media (min-width: 720px) and (max-width: 1120px) {
  .main {
    .core_features {
      .innerWrapper {
        .content {
          grid-template-columns: 0.3fr 0.7fr;
          .cards {
            grid-column: 1 / -1;
            grid-template-columns: 1fr 1fr 1fr;
            .card {
              &::before {
                height: 0;
                width: 100% !important;
                transition: height 0.2s linear;
              }
              &.active {
                &::before {
                  height: 0.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
